/* styles.css */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  animation: fade 5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
